
<div class="tophalf">
    <h1>Ev's Burgers</h1>
  <div class="wall">
    <div class="kitchen"></div>


      <div class="menu">
        <div class="current">

          <h2>Current Menu</h2>

          <ul>
            {{#each burgers}}
            {{#unless edible}}
            {{> burgers/single-burger edible=true}}
            {{/unless}}
            {{/each}}
          </ul>

        </div>
      </div>
      <div class="menu">
          <div class="prev">

          <h2>Throwbacks</h2>

          <ul>
            {{#each burgers}}
            {{#if edible}}
            {{> burgers/single-burger edible=false}}
            {{/if}}
            {{/each}}
          </ul>

        </div>
      </div>


  </div>
</div>

<div class="bottomhalf">
  <div class="countertop">
    <form class="create-form">
    
      <div class="form-group blockform">
        <label for="ca" style="font-size: 30px;">Burger of the Day:</label>
        <input type="text" id="ca" name="name">
      </div>
    
      <button class ="blockform" type="submit">Add Da Burger</button>
    </form>
  </div>
  <div class="counter">
    <div class="shadow"></div>
  </div>
  <div id="kickboard"></div>
</div>




