<h1>Welcome to Ev's EatDaBurgers</h1>

<h2>Burgers of Yore</h2>

<ul>
  {{#each burgers}}
    {{#if is_eaten}}
      {{> burgers/single-burger is_eaten=true}}
    {{/if}}
  {{/each}}
</ul>



<h2>Classic Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless is_eaten}}
      {{> burgers/single-burger is_eaten=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger To Add:</label>
    <input type="text" id="burg" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="burger_special">Is it a Special?</label><br>
    <input type="radio" name="burger_special" value="1" checked> Make it a Special!<br>
    <input type="radio" name="burger_special" value="0"> Classic menu
  </div> --}}

  <button type="submit">Add Da Burger!</button>
</form>
